* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    max-width: 1600px;
    padding: 0 20px;
    margin: 0 auto;
    font-family: 'Cisco Sans TT', sans-serif;
    background: #fff;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 12%)
}
h1 {
    font-size: 46px;
    line-height: 56px;
    color: #0D274D;
}
h2 {
    font-size: 38px;
    line-height: 46px;
    color: #0D274D;
}
p {
    font-size: 18px;
    line-height: 26px;
    color: #0D274D;
}

.logo-section {
    background-color: #F2F2F2;
}
.logo {
    display: block;
    width: 50%;
    padding: 70px;
    margin: 0px auto;
}
.intro-section {
    position: relative;
    display: flex;
    background-color: #0D274D;
    color: #524f4f;
    height: 100%;
    width: 100%;
    overflow:auto; 
}
.info-section {
    position: relative;
    background-color: #0D274D;
    color: #F2F2F2;
    height: 370px;
    padding: 0;
    margin: 0;
}
.intro-description > h1,
.info-section > h1{
    color: #F2F2F2;
    text-shadow: 1px 1px 1px #000;
}
.intro-description > p {
    color: #00BCEB;
    text-shadow: 1px 1px 1px #000;
}
.intro-description {
    position: absolute;
    align-self: center;
    z-index: 1;
}
.intro-image {
    width: 100%;
    object-fit: cover;
}
.intro-description,
.info-section > h1 {
    padding: 0px 0px 0px 70px;

}
.info-section {
    text-align: center;
}
.info-section > p {
    color: #00BCEB;
}
.info-section > img {
    margin: 0 0 40px;
    max-width: 40%;
}
.button {
    display: inline-block;
    width: 200px;
    margin: 20px 0px 40px;
    padding: 12px 30px;
    border-radius: 20px;
    background-color: #00bceb;
    color: #fff;
    text-decoration: none;
}
.button:hover {
    filter: brightness(1.2);
    color: #fff;
    text-decoration: none;
}
.sub-section {
    background-color: #F2F2F2;
    text-align: center;
    padding: 40px 70px;
}
.stats-section {
    background-image: url('images/worker-stacked.png');
    background-size: 50%;
    background-position: -0%, 50%;
    background-repeat: no-repeat;
    min-height: 800px;
    padding: 30px 0;
}
.progress-div {
    display:flex;
    height: 120px;
    margin: 20px 0 0 0;
}


.stats-container {
    max-width: 55%;
    float: right;
}
.progress-1,
.progress {
    width: 120px;
    height: 120px;
    font-size: 30px;
    color: #0D274D;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    text-align: center;
    line-height: 120px;
    margin: 0;
    float: left;
}
.progress.blue {
    margin: 0;
}
.progress-1 .title,
.progress .title {
    position: relative;
    z-index: 100;
    margin: 0 auto;
    font-size: 24px;
}
.progress-info {
    position: relative;
    display: inline-block;
    cursor: help;
    width: 60%;
    margin: auto 30px;
}
.tooltiptext {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    font-size: 14px;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
  }
  .progress-info .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  .progress-info:hover .tooltiptext {
    visibility: visible;
  }
.progress-1 .overlay,
.progress .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #fff;
    border: 15px solid #F2F2F2;
    border-radius: 50%; 
} 
.progress-1 .left, .progress-1 .right,
.progress .left, .progress .right {
    width: 50%;
    height: 100%;
    position: absolute; 
    top: 0;
    left: 0;
    transform-origin: right; 
}
.progress.blue .left, .progress.blue .right {
    border: 15px solid #00BCEB;
    border-radius: 100px 0px 0px 100px; 
    border-right: 0;
}
.progress.green .left, .progress.green .right {
    border: 15px solid #6ABF4B;
    border-radius: 100px 0px 0px 100px; 
    border-right: 0;
}
.progress-1.yellow .left,
.progress.yellow .left {
    border: 15px solid #FBAB18;
    border-radius: 100px 0px 0px 100px; 
    border-right: 0;
}
.progress-1.yellow .right,
.progress.yellow .right {
    border: 15px solid #F2F2F2;
    border-radius: 100px 0px 0px 100px; 
    border-right: 0;
}

.animated.progress .left {
    animation: load1 1s ease forwards; 
}
.animated.progress-1 .left {
    animation: load 1s ease forwards;
}
.animated.progress.blue .right { 
    animation: load2 .8s linear forwards 1s;
}
.animated.progress.green .right {
    animation: load3 .5s linear forwards 1s;
}
.animated.progress-1.yellow .right {
    animation: load4 .8s linear forwards ;
}
.animated.progress.blue.two .right { 
    animation: load5 .8s linear forwards 1s;
}
.animated.progress.green.two .right {
    animation: load6 .5s linear forwards 1s;
}
@keyframes load {
    0% {z-index: 100; opacity: 0;transform: rotate(0deg);}
    100% {z-index: 100; transform: rotate(144deg);}
}
@keyframes load1 {
    0% {z-index: 100; opacity: 0;transform: rotate(0deg);}
    100% {z-index: 100; transform: rotate(180deg);}
}
@keyframes load2 {
    0% {z-index: 100;transform: rotate(180deg);}

    100% {z-index: 100;transform: rotate(252deg);}
} 
@keyframes load3 {
    0% {z-index: 100;transform: rotate(180deg);}
 
    100% {
        z-index: 100;transform: rotate(313deg);}
}
@keyframes load4 {
    0% {z-index: 100;transform: rotate(180deg);}

    100% {
        z-index: 100;transform: rotate(360deg);}
}
@keyframes load5 {
    0% {z-index: 100;transform: rotate(180deg);}
 
    100% {
        z-index: 100;transform: rotate(259deg);}
}
@keyframes load6 {
    0% {z-index: 100;transform: rotate(180deg);}
 
    100% {
        z-index: 100;transform: rotate(216deg);}
}

.stats-info {
    width: 300px;
}
.infrastructure-div,
.slide-div {
    padding: 40px 70px;
    text-align: center;
}
.infrastructure-img {
    width: 95%;
    display: block;
    margin: 0px auto;
}
.infrastructure-title {
    font-size: 20px;
    font-weight: 800;
    margin: 15px 0 0;
}
.infrastructure-h2 {
    width: 95%;
    display: block;
    margin: 15px auto 0;
}
.info-h2 {
    width: 95%;
    display: block;
    margin: 30px auto 0;
}

/* TEST */
.slideshow-container {
    padding: 40px 70px;
}
.glider-contain {
    width: 100% !important;
}

.slide-title {
    position: fixed;
    background-color: #F2F2F2;
    text-align: center;
    padding: 40px 70px;
    width: 100vw;
}
.slide-img {
    width: 60%;
    display: block;
    margin: 0px auto 30px;
}
.slide-text {
    position: relative;
    background-color: #F2F2F2;
    height: 250px;
    padding: 30px;
    border-radius: 20px;
    margin: 0 10px;
}
.slide-text > p {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 20%;
    transform: translate(-13%, -50%);
    text-align: center;
}
.glider-next, .glider-prev {
    position: relative !important;
}
.prev-img {
    position: relative;
    float: left;
    top: -240px;
    width: 40px;
    margin: 0 0 0 40px;
    cursor:pointer;
}
.next-img {
    position: relative;
    float: right;
    top: -240px;
    width: 40px;
    margin: 0 40px 0 0;
    cursor:pointer;
}
.glider-dot {
    display: inline-block;
    margin: 20px 15px 0px;
    height: 20px;
    width: 20px;
    background-color: #00BCEB !important;
    opacity: 0.5;
    border-radius: 50%;
}
.glider-dot.active {
    opacity: 1 !important;
}
.info-section > h2 {
    color: #F2F2F2;
    margin: 40px auto
}
.link-block {
    display: block;
    color: #F2F2F2;
    padding-bottom: 40px;
}
.link-block:hover {
    color: #00bceb;
}
.final-section {
    padding-top: 70px;
}
.footer {
    background-color: #F2F2F2;
}
.footer-logos {
    position: relative;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    gap: 10px;
    grid-auto-rows: auto;
    grid-template-areas: "a b b b c d e e e f g";
}
.cisco-logo {
    grid-area: b;
    max-width: 130%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.separator {
    grid-area: d;
    margin: 40px auto; 
    max-height: 120px;
}

.nvidia-logo {
    grid-area:  e;
    position: absolute;
    margin: 0 0 0 40px;
    top: 50%;
    max-width: 90%;
    transform: translateY(-50%);
}
.footer > p {
    text-align: center;
    margin: 0;
    padding: 30px 0 40px;
}
/* Animations */
.animatable {
    visibility: hidden;
    animation-play-state: paused; 
  }
  .animated {
    visibility: visible;
    animation-fill-mode: both;
    animation-duration: 1s;
    animation-play-state: running;
  }

@keyframes bounceInLeft {
	0% {
		opacity: 0;
		transform: translateX(-2000px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes bounceInRight {
	0% {
		opacity: 0;
		transform: translateX(2000px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.animated.animationDelay{
	animation-delay:.4s;
	-webkit-animation-delay:.4s;
}
.animated.bounceInRight {
    animation-duration: 2s;
	animation-name: bounceInRight;
}
.animated.bounceInLeft {
    animation-duration: 2s;
	animation-name: bounceInLeft;
}
.animated.fadeInUp {
    animation-duration: 0.5s;
	animation-name: fadeInUp;
}


@media screen and (min-width: 1200px) {
    .slide-text {
        height: 190px;
    }
    .prev-img,
    .next-img {
        width: 50px;
        top: -220px;
    }
}

@media screen and (max-width: 992px) {
    h1 {
        font-size: 40px;
        line-height: 40px;
        color: #0D274D;
    }
    .logo {
        width: 60%;
    }
    .intro-description, .info-section > h1 {
        padding: 40px;
    }
    .stats-section {
        background-size: 80%;
        background-position: -105%, 50%;
    }
    .progress-info {
        font-size: 14px;
        line-height: 20px;
    }
    .infrastructure-div, .slide-div {
        padding: 40px 45px;
    }
    .slide-img {
        width: 65%;
    }
    .slide-text {
        height: 310px;
    }
    .prev-img,
    .next-img {
        top: -270px;
    }
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 36px;
        line-height: 44px;
        color: #0D274D;
    }
    h2 {
        font-size: 28px;
        line-height: 34px;
        color: #0D274D;
    }
    p {
        font-size: 16px;
        line-height: 24px;
        color: #0D274D;
    } 
    .logo {
        padding: 55px;
    }
    .intro-description {
        width: 66% !important;
    }
    .intro-description,
    .info-section > h1 {
        padding: 20px;
    }
    .intro-description > h1 {
        font-size: 25px;
        line-height: 30px;
    }
    .sub-section {
        padding: 30px;
    }
    .stats-section {
        background-size: 70%;
        background-position: -90%, 50%;
        min-height: 585px;
    }
    .progress-div {
        margin: 10px 0 0 0;
        height: 95px;
    }
    .stats-container {
        max-width: 70%;
    }
    .progress-1,
    .progress {
        width: 95px;
        height: 95px;
        line-height: 95px;
    }
    .progress-info {
        width: 67%;
        margin: auto 10px;
    }
    .infrastructure-div,
    .slide-div {
        padding: 30px 45px;
    }
    .slide-img {
        width: 50%;
    }
    .slide-text {
        height: 150px;
    }
    .glider-dot {
        margin: 20px 10px 0px;
    }
    .prev-img, .next-img {
        top: -185px;
    }
    .next-img {
        margin: 0 50px 0 0;
    }
    .prev-img {
        margin: 0 0 0 50px;
    }
    .glider::-webkit-scrollbar-thumb {
        background-color : #fff;  
    }
    .row>* {
        width: 33.33%;
    }
 }

@media screen and (max-width: 576px) { 
    h1 {
        font-size: 28px;
        line-height: 34px;
        color: #0D274D;
    }
    h2 {
        font-size: 22px;
        line-height: 28px;
        color: #0D274D;
    }
    p {
        font-size: 16px;
        line-height: 22px;
        color: #0D274D;
        margin-bottom: 0;;
    } 
    .logo {
        padding: 40px;
        width: 100%;
    }
    #first {
        order: 1;
    }
    #second {
        order: 2;
    }
    .info-section > h1 {
        padding: 25px;
    }
    /* .intro-description > h1 {
        font-size: 18px;
        line-height: 20px;
    } */
    .intro-description > p {
        font-size: 12px;
        line-height: 15px;
    }
    .intro-image {
        margin: 0 auto;
        padding-bottom: 0px;
    }
    .intro-description {
        width: 100%;
        margin: 0 auto;
        padding: 10px;
    }
    .sub-section {
        padding: 25px;
    }
    .stats-section {
        background-position: 85%, 50%;
        min-height: 525px;
        background-image: none;
        float: none;
        overflow:auto;
    }
    .progress-div {
        display: block;
        height: 250px;
    }
    .stats-container {
        max-width: 95%;
    }
    .progress-1,
    .progress,
    .progress.blue {
        width: 150px;
        height: 150px;
        line-height: 150px;
        margin: 0 auto;
        float: none;
    }
    .progress-info {
        width: 100%;
        padding: 25px;
        margin: 0px;
        text-align: center;
    }
    .progress-1 .title,
    .progress .title {
        font-size: 28px;
    }
    .infrastructure-div,
    .slide-div {
        padding: 10px 0 30px;
    }
    .slide-img {
        width: 80%
    }
    .slide-text {
        margin: 0;
        height: 280px;
    }
    .next-img {
        margin: 0px 30px 0 0;
    }
    .prev-img {
        margin: 0 0 0 30px;
    }
    .next-img,
    .prev-img {
        width: 40px;
        top: -240px;
    }
    .glider-dot {
        margin: 20px 5px 0px;
        height: 10px;
        width: 10px;
    }
    .row>* {
        width: 100%;
    }
    .info-section > h2 {
        margin: 25px auto
    }
    .infrastructure-col {
        padding-top: 30px;
    }
    .infrastructure-h2 {
        margin-top: 20px;
    }
    .infrastructure-img {
        width: 50%;
    }
    .footer-logos {
        display: block;
    }
    .cisco-logo {
        position: relative;
        display: block;
        transform: none;
        max-width: 90%;
        margin: 0px auto;
        padding: 25px;
    }
    .separator {
        display: none;
    }
    .nvidia-logo {
        position: relative;
        display: block;
        float: none;
        width: 60%;
        margin: 20px auto 20px;
        padding: 0 35px;
    }
    .footer > p {
        padding: 0 10px 10px;
    }
    .footer-logos > p {
        position: relative;
        display: block;
        float: left;
        width: 60%;
        margin: 55px 0 0;
    }
    .footer-right {
        display: block;
        width: 100%;
        overflow: auto;
    }
    .link-block {
        padding-bottom: 25px;
    }
 }



/* fonts */
@font-face {
    font-family: 'Cisco Sans';
    src: url('fonts/CiscoSansTTLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
  @font-face {
    font-family: 'Cisco Sans';
    src: url('fonts/CiscoSansTTRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Cisco Sans';
    src: url('fonts/CiscoSansTT-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}